nav{
    background-color: #bfbfbf;
    height: 55px;  
    
  }
  #topnav{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%; 
    
  }
  nav ul{
     list-style-type: none; display: flex; float:right; margin-right: 20px;
  }
  nav li{
      text-indent: 30px;
      font-size: 35px;
      
  }
  @font-face{
      font-family: FirstFont;
      src: url(../HelloGraduationSans-d9enl.ttf);
  }
  #topnav a{
      text-decoration: none;
      color: black;
      text-align: center;
      font-family: FirstFont;
  }
  h1{
      margin-top: 60px;
      font-family: Segoe Print;
      font-size: 45px;
      text-align: center;
      color: #332421;
  }
  #circle{
      height: 350px;
      width: 600px;
      margin-left: 380px;
  }
  p{
      font-size: 20px;
      font-family:Palatino Linotype;
  }
  #left{
      float:left;
      font-family:Harlow Solid;
      font-size: 30px;
      margin-top: 10px;
  }
  body{
      background-color: #faf0e6;
  }
  #button:hover{
      color:#FFBF34;
  }