nav{
    background-color: #bfbfbf;
    height: 55px;  
    
  }
  #topnav{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%; 
    
  }
  nav ul{
     list-style-type: none; display: flex; float:right; margin-right: 20px;
  }
  nav li{
      text-indent: 30px;
      font-size: 35px;
      
  }
  @font-face{
      font-family: FirstFont;
      src: url(../HelloGraduationSans-d9enl.ttf);
  }
  #topnav a{
      text-decoration: none;
      color: black;
      text-align: center;
      font-family: FirstFont;
  }
  #flavour{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      width: 280px;
      margin-left: 45px;
      margin-top: 70px;
      font-family: serif;
      
  }
  #price{
      color: red;
      font-size: 25px;
  }
  #flavour button{
      margin-left: 90px;
      margin-bottom: 20px;
      padding:12px;
      color:white;
      background-color: #000;
      cursor:pointer;
      font-size:16px;
  }
  #flavour button:hover{
      opacity:0.5;
  }
  .center{
      text-align: center;
      font-family: Monotype Corsiva;
  }
  #flex{
      display:flex;
  }
  img{
      height: 300px;
      width: 300px;
  }
  #left{
      float:left;
      font-family:Harlow Solid;
      font-size: 30px;
      margin-top: 10px;
  }
  body{
      background-color: #faf0e6;
  }
  #button:hover{
      color:#FFBF34;
  }