nav{
    background-color: #bfbfbf;
    height: 55px;  
    
  }
  #topnav{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%; 
    
  }
  nav ul{
     list-style-type: none; display: flex; float:right; margin-right: 20px;
  }
  nav li{
      text-indent: 30px;
      font-size: 35px;
      
  }
  @font-face{
      font-family: FirstFont;
      src: url(../HelloGraduationSans-d9enl.ttf);
  }
  #topnav a{
      text-decoration: none;
      color: black;
      text-align: center;
      font-family: FirstFont;
  }
  h1{
      margin-top: 80px;
      font-size: 42px;
      font-family: Monotype Corsiva;
      color:#332421;
  }
  label{
      font-size: 25px;
      font-family: Monotype Corsiva;
  }
  div{
      margin-left:20px;
  }
  input[type=submit]{
      height: 50px;
      width: 80px;
      background-color: black;
      color: white;
      font-size:20px;
      font-family:cursive
  }
  input[type=submit]:hover{
      opacity:0.6;
  }
  #left{
      float:left;
      font-family:Harlow Solid;
      font-size: 30px;
      margin-top: 10px;
  }
  img{
      display:block;
      float:right;
      margin-top: 70px;
      margin-right: 140px;
      height: 400px;
      width: 500px
  }
  body{
      background-color: #faf0e6;
  }
  #button:hover{
      color:#FFBF34;
  }